{
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"trailingComma": "es5",
	"tabWidth": 2,
	"singleQuote": true,
	"useTabs": true,
	"printWidth": 120,
	"htmlWhitespaceSensitivity": "ignore",
	"arrowParens": "avoid",
	"quoteProps": "preserve",
	"importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.0.0",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"",
		"^@global/(.*)$",
		"^@env/(.*)$",
		"",
		"^.*(\\.plugin)/?.*$",
		"",
		"^.*(\\.module)/?.*$",
		"",
		"^.*(\\.config)/?.*$",
		"",
		"",
		"^.*(/services|\\.service|/api|\\.api)/?.*$",
		"^.*(/guards|\\.guard)/?.*$",
		"",
		"^.*(/helpers|\\.helper)/?.*$",
		"",
		"^.*(/components|\\.component|/pages|/modals)/?.*$",
		"",
		"^.*(/directives|\\.directive)/?.*$",
		"",
		"^.*(/pipes|\\.pipe)/?.*$",
		"",
		"",
		"^.*(/interfaces|\\.interface|/loaders|\\.loader|/enums|\\.enum|/routes|\\.route|/model|\\.model|/classes)/?.*$",
		"",
		"^.*(/i18n|\\.i18n|/constants)/?.*$",
		"^[./]"
	]
}
